<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <!-- Menu cha: Banner -->
        <add id="Magenest_Banner::banner_menu"
             title="Banner"
             module="Magenest_Banner"
             sortOrder="50"
             resource="Magenest_Banner::banner_menu"/>

        <!-- Menu con: Manage Banners -->
        <add id="Magenest_Banner::manage_banners"
             title="Manage Banners"
             module="Magenest_Banner"
             sortOrder="10"
             parent="Magenest_Banner::banner_menu"
             action="magenest_banner/banner/index"
             resource="Magenest_Banner::manage_banners"/>
    </menu>
</config>
